# Rename this file to .env and fill in the values
# Docs link: https://docs.pawtograder.com/developers/intro

GITHUB_PRIVATE_KEY_STRING="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"
GITHUB_APP_ID=...
GITHUB_WEBHOOK_SECRET=...
GITHUB_OAUTH_CLIENT_ID=...
GITHUB_OAUTH_CLIENT_SECRET=...
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...

SMTP_HOST=host.docker.internal
SMTP_PORT=54325
SMTP_USER=test
SMTP_PASSWORD=test
SMTP_FROM=noreply@pawtograder.local
SMTP_REPLY_TO=support@pawtograder.local