{{- $inst := index .Values.postgres.instances .Release.Name }}

# ensure-database.sh expects the pod to be <instance>-0.
fullnameOverride: {{ .Release.Name }}

settings:
  existingSecret: {{ .Release.Name }}-superuser
  superuserPassword:
    secretKey: POSTGRES_PASSWORD

storage:
  requestedSize: {{ $inst.storage }}
  keepPvc: true

resources:
  requests: { cpu: 250m, memory: 512Mi }
  limits: { cpu: 500m, memory: 1Gi }

initResources:
  requests: { cpu: 50m, memory: 64Mi }
  limits: { cpu: 250m, memory: 256Mi }
